[2019-10-21 06:43] dcereijodo opened #1 "General project considerations"
As I mentioned [here](https://github.com/fishtown-analytics/redshift/issues/18), I have worked with spectrum tables in RS from DBT for a while now, and I am very interested on having some sort of support for that in a DBT package. I can see the status of the project is quite advanced but here are a few thoughts you might consider.

### Development flow
From the README I understand the user will be

[2019-10-23 22:05] jtcohen6 commented on #1
@dcereijodo Thank you for your thoughts here! I've been playing around with external tables for several months now, and I'm really grateful for your perspective.

### Model or source?

Running through your comment is a significant thread: how can we best fit external tables into existing dbt constructs? Your approach treats external tables as a special kind of _model_, with a separate materializat

[2019-10-29 14:00] dcereijodo commented on #1
@jtcohen6, thanks a lot for your explanations :)

About external table configuration updates, my concern about adding an unnecessary step in the development process was more about changes on the external table schema and not so much about adding partitions. If it's the case that I want to add a new field in the external table, it's probably because I want that new data to propagate to the staging

[2019-10-29 15:33] dcereijodo opened #2 "Add 100+ partitions on spectrum"
According to [AWS docs](https://docs.aws.amazon.com/redshift/latest/dg/c-spectrum-external-tables.html#c-spectrum-external-tables-partitioning) there is a 100 limit for the number of partitions you can add per `alter table` statement on an external table. If you try to insert more than 100 partitions you will get an error `Error when calling external catalog API: Exception in curl callback...`.

I

[2019-10-29 20:58] jtcohen6 commented on #2
@dcereijodo Based on the docs, the limit applies to the number of partitions that can be added in a single `alter table` statement. This isn't an issue for the current implementation of `redshift__refresh_external_table`, which adds each partition in a separate `alter table` statement.

What _could_ be really smart is to add partitions in batches of 100, which would run faster (and likely scale be

[2019-11-08 18:38] dcereijodo commented on #2
You are right this is not an issue with the current implementation. The partitions generation part of the macro is a bit tricky and I did not get that part at first.

I've anyways submitted a PR to add partitions in batches. I hope it helps.

[2019-11-11 18:53] #2 closed

[2019-11-14 10:19] louisguitton opened #5 "What is test_external_sources_redshift.year_month_day ?"
Hi 👋 ,
Really impressed by the work here and really eager to use the plugin as we use both Spectrum and dbt for a few months.

After the first pass through the code, I had one question: where is the code for the macro `test_external_sources_redshift.year_month_day` in
https://github.com/fishtown-analytics/dbt-external-tables/blob/master/sample_sources/redshift.yml#L28 ?

[2019-11-15 14:35] jtcohen6 commented on #5
@louisguitton Thank you! So glad to hear you want to use this :)

That's a _really_ good point, and a vestige of when I was testing this package locally. The code for that macro looks like:
[code]

The idea is that you can supply any custom macro that accepts arguments `name` and `value` and returns the path as a string. I'll open a PR to include the boilerplate `year_month_day` and `key_value` ma

[2019-11-21 14:53] #5 closed

[2019-11-21 15:13] louisguitton commented on #5
awesome, thanks!

[2019-11-22 04:23] jrandrews opened #7 "Macro errors on trying to use dbt_external_tables"
I am using this package and getting the follow macro errors:

`Joshuas-MBP-2:snowflake_mvp_analytics josh$ dbt run-operation stage_external_sources
Running with dbt=0.15.0-rc2
Staging external table external_raw.stg_passenger_airline_ext
Encountered an error while running operation: Compilation Error in macro snowflake__create_external_table (macros/external/create_external_table.sql)
  'dict' obj

[2019-11-22 05:42] jtcohen6 commented on #7
Thanks for the issue @jrandrews (and @drewbanin). I'll open a fix for this shortly.

[2019-11-22 05:52] #7 closed

[2019-11-22 06:03] jtcohen6 opened #9 "Add integration testing suite"
Our best-supported and most widely used packages (`dbt-utils`, `snowplow`) have integration testing suites that enable CI on all PRs.

Testing needs:

* Ensure that conventional (non-external) source are unaffected
* Properly drop-create / create-and-replace and refresh (if applicable) sources with no partitions, one partition, multiple partitions
* Test on all supported adapters (currently Redshi

[2019-11-22 06:12] jtcohen6 opened #10 "Support Spark external tables"
### Blockers

* Need a `0.15.0` version of the [`dbt-spark` adapter plugin](https://github.com/fishtown-analytics/dbt-spark)

### Conceptual challenge

Spark supports two syntaxes for creating external tables:
* Standard `create table` syntax with `location` clause. This supports native partitioning as long as data is already stored in files with a `/part_col1=value/part_col2=value/` path format.

[2019-11-22 06:24] jtcohen6 opened #11 "Snowflake extensions"
Macros to:
* Create, replace, and refresh **Snowpipes**. All of the information needed to create an `external table` can also create a `pipe` to continuously load data from external storage as well as unnesting JSON or renaming CSV columns by ordinal position. This could be as simple as adding a `snowpipe: true` config to the `source`, after which dbt would create both an empty table (at the sourc

[2019-11-22 17:26] jrandrews commented on #11
Being able to manage both of these items through dbt configuration would be awesome. I wonder if we could also manage file formats as well? We need them for external stages and so having the ability to manage stages through this package but not file formats still doesn't really solve the whole problem.

[2019-11-22 22:56] jrandrews opened #12 "Issues with CSV Files and Column Names Not Properly Mapping"
When reading data from a stage/external table in Snowflake which is coming from a file type that has column metadata such as column names included, columns are named in the underlying data and can be identified as such in the external table creation. But when reading CSVs, the columns don't have column names associated with them and are identified just as "c1", "c2", etc. This is a problem when tr

[2019-11-22 22:58] jrandrews commented on #12
It's like we need an "alias_column_name" field or "expression" for each column that allows us to pass in a calculation like this: `VALUE:c1` or maybe just `c1`

[2019-11-25 04:53] jtcohen6 commented on #12
I'm wondering if we can infer—or offer the user the chance to explicitly state—that the file format is a CSV, and then use the order of the columns accordingly in [this line](https://github.com/fishtown-analytics/dbt-external-tables/blob/master/macros/external/create_external_table.sql#L73):
[code]

The approach you recommend, offering an `alias`/`identifier` field for each `column` object, is als

[2019-11-25 06:54] jrandrews commented on #12
@jtcohen6  -- Do you mean assume that the first listed column in the .yml file maps to column "c1" in the csv, the second listed column refers to "c2", etc.? And then use the given name in the .yml file for the actual "name" for the column? You could probably query Snowflake's information schema to to determine the file format of the stage that is referenced for the external table to figure out if

[2019-11-25 16:57] jtcohen6 commented on #12
@jrandrews That's exactly my thinking, yes. It's either string-checking `if 'csv' in external.file_format`, or as you suggest:

I'm trying to think of a way that this could be efficient, rather than needing to call a `statement` to `show file formats like '{{external.file_format}}'` every single time. It feels possibly related to your suggestion in #11 that dbt could also support the creation/main

[2019-11-26 21:41] jtcohen6 commented on #12
@jrandrews I opened an attempted fix of this in #13. Would you have a chance to check out + test that branch?

One thing I noticed is that Snowflake's [docs](https://docs.snowflake.net/manuals/sql-reference/sql/create-external-table.html) seem to require the keyword `format_name` to appear in `file_format` if using a named file format. I see above in your YML that you specify
[code]
when I think t

[2019-11-27 01:59] jrandrews commented on #12
hi @jtcohen6 thanks for the update. I tried and unfortunately still the same result, blank columns for the two additional columns specified in the external table.

What you are referring to in the file format is not quite true. The "format_name" parameter refers to only the default formats that come with Snowflake like CSV, JSON, etc. But the default formats make a whole bunch of assumptions about

[2019-11-27 03:01] jtcohen6 commented on #12
@jrandrews Thanks for giving it a go. I incorrectly thought that you _had_ to use the `format_name` keyword, even when specifying your own custom file formats, but clearly you can provide the custom file format's `[database.][schema.]identifier` only and Snowflake will go along with it.

I updated the `is_csv()` macro accordingly. It will now look first for the substring `type=`. If so, check to s

[2019-11-27 05:05] jrandrews commented on #12
Thanks @jtcohen6 that latest fix seems to have done the trick. Here is the SQL now generated for the external table:

[code]

Also I can see that before that is executed, this SQL is executed:

`show file formats in snowflake_mvp_dev.external_raw`

Which tells me that this package is now going to get the appropriate file format info.

Screenshot now when I refresh the external table and look in th

[2019-11-27 10:34] jtcohen6 commented on #12
That's great @jrandrews! Thanks for the back-and-forth on this.

I'm going to merge this PR now—I'd like to cut a first release of this package, now that `0.15.0` has been released—but I'll leave this issue open while we test more edge cases.

[2020-01-23 13:58] davehowell commented on #1
@dcereijodo

In your example

[code]

This code is within a single model called `spectrum_table` so what would get created here for the `spectrum_incremental` materialization?

I assume there would be an external table, but then what is the Select statement used for? External table doesn't need a select statement, it is just DDL. Does it also create a table, view or ephemeral model? If that's the

[2020-01-23 18:31] jtcohen6 commented on #1
Thanks for adding your thoughts on this @davehowell!

I totally see the desire to test a fix or update to an external table definition in a scratch schema first, or test changes through a CI process, without impacting anything in production. The way dbt handles this environment control for model materializations is based on `target.schema`. While this is not possible yet, I could see a version of

[2020-01-24 08:24] davehowell commented on #1
Hmm I suppose there is some precedent with model aliases and the over-ridable macro `generate_alias_name`

[2020-02-01 11:03] dcereijodo commented on #1
@davehowell

Such materialization is currently doing two things: 1) dropping and re-creating an external table with whatever `external_fields` I had defined, and 2) selecting from that external model to create a physical table in a `raw` schema in redshift. My spectrum models map 1 to 1 with the event types of a JSON events system, so it's pretty convenient, for example, if a new field was added i

[2020-02-02 23:57] davehowell commented on #1
Oh wow it's doing both, that makes sense now :D

[2020-03-30 15:34] jtcohen6 commented on #12
@jrandrews Just curious if you're still seeing any issues with CSV external tables on Snowflake, or if I can close this issue?

[2020-03-30 16:07] jtcohen6 commented on #1
I just want to clarify that this _is_ now possible. dbt 0.16.0 (released last week) makes `target` variables accessible in YML config.

@dcereijodo Thanks for fully explaining your approach to external tables as a custom materialization, that makes a lot of sense! Given that you're heading in a somewhat different direction from this package, I'll leave it up to you if you want to keep this issue/c

[2020-04-01 16:17] jrandrews commented on #12
Hi @jtcohen6 - things are looking good with this so far. Feel free to close. Thank you!

[2020-04-01 17:09] #12 closed

[2020-05-04 19:13] upjohnc opened #19 "New Feature: choosing specific external table to run"
As a data engineer, I would like the option to run a single (or possibly a set of tables matching a pattern) table rather than all of the external tables in the project.

Presently, calling `dbt run-operation stage_external_sources` runs through the creation process of all the external tables defined in the project.  For our team, running for a single external table can take some time due to the s

[2020-05-07 19:09] #19 closed

[2020-06-25 00:23] pdbaines opened #28 "Allow metadata-based columns for Snowflake external tables"
### Describe the feature
Currently (to my knowledge), it is not possible to add columns to external tables in Snowflake that include metadata. This makes it hard to track down which rows in the table came from which file.

In many cases you might want your external table to have `metadata$filename` or `metadata$file_row_number` available as columns. These are currently added as additional columns

[2020-06-25 14:40] jtcohen6 commented on #28
@pdbaines Thanks for the detailed write-up!

As I understand it, all Snowflake external tables natively include `metadata$filename` and `value` as pseudo-columns, even when they aren't included in the `create table` column list ([docs](https://docs.snowflake.com/en/user-guide/tables-external-intro.html#planning-the-schema-of-an-external-table)). Let me know if this differs from your experience.

I

[2020-07-08 19:11] jtcohen6 opened #32 "Snowflake external tables with no columns specification"
### Describe the bug

On Snowflake, all external tables contain a `value` column without specification. It represents the full record as a nested JSON object. Frequently, users may wish to stage a table with only the nested blob, with no columns parsed out of it.

The packaged has intended to support this behavior since v0.2.0, so this is a bug fix, not an enhancement.

### Steps to reproduce

Def

[2020-07-10 06:39] aroder opened #33 "What if I don't want to run a path_macro?"
### Describe the feature
For Redshift there are only two macros, one of which is for date. This one year_month_date, replaces "YYYY-MM-DD" with "YYYY/MM/DD". What if we don't want to do that?

### Describe alternatives you've considered
* Perhaps we can create a null or none function that just returns the path value as is.
* Or better would be to make `path_macro` optional

### Who will this benef

[2020-07-10 18:44] jtcohen6 commented on #33
Hey @aroder, thanks for opening this!

The vision of the Redshift `path_macro` is that you can define your own macro, in your own project, that tells dbt how to take as inputs the `name` and `value` arguments of the partition column, and to return as output a string representing the associated file path.

Based on your description, it sounds like you want to define a macro like:
[code]

And then c

[2020-07-24 14:49] samjbobb opened #34 "Use as a pre-hook rather than run-operation"
### Describe the feature
It would be nice to use `stage_external_sources` as a `pre-hook` in addition to or rather than an `operation`. (Perhaps this is possible but I haven't found it).

`stage_external_sources` is (essentially) idempotent and quick to run - it can be run multiple times without impacting the result.

In our external sources definition, we have the schema parameterized like so: `s

[2020-07-27 19:56] jtcohen6 commented on #34
@samjbobb Thanks for laying out your reasoning here! I totally buy what you're saying around easing the path for each individual's development.

Since this macro only needs to run once per invocation (`dbt run`), rather than once before every model, I'd recommend making this a project-level `on-run-start` hook instead of a model `pre-hook`. In `dbt_project.yml`:

[code]

After playing around with

[2020-07-29 16:30] #34 closed

[2020-07-29 16:31] #32 closed

[2020-08-15 20:19] nickperrott opened #38 "Snowflake external tables with no columns but multiple partitioning columns doesn't work"
I have created a Snowflake external table definition mapped to a Stage integrated with Azure blob storage.  This definition has no columns.

It works fine with a single partition, but doesn't work when I add a second partition.
### To reproduce
NB: Both of my partitions come from the METADATA$FILENAME virtual column, so this should be easy to reproduce with any Snowflake external table defintion.

[2020-08-17 13:44] jtcohen6 commented on #38
@nickperrott Nice catch! Thanks for the writeup. I think your recommended fix is right on. Would you be up to opening a PR for this?

[2020-08-19 03:41] nickperrott commented on #38
Yes, I would do a PR.   I am not really up to date with the protocol for doing this  (i.e. branch name to use etc...).   Could you send me a link that explains the basics and I will prepare a PR?

[2020-08-19 14:49] jtcohen6 commented on #38
You'll need to fork this repository. You can use any branch name you'd like. Push the change to the branch in your fork and open a PR targeting the `master` branch.

[2020-08-20 21:48] nickperrott commented on #38
Thanks, I will do this within the next coupla days.   My first PR to an open source project :-)

[2020-09-03 19:07] vogt4nick opened #39 "dbt-external-tables is incompatible with dbt v0.18"
I propose a change to require only dbt-utils >=0.4.0. Currently dbt-external-tables requires dbt-utils >=0.4.0, <0.6.0.

https://github.com/fishtown-analytics/dbt-external-tables/blob/3f094ff90af11ea5e671fcdc696e6c8c4097aa54/packages.yml#L1-L3

It'd be useful to use dbt-external-tables with dbt v0.18 and dbt-utils v0.6, but the transitive requirements on dbt-utils make dbt-external-tables incompat

[2020-09-03 19:20] jtcohen6 commented on #39
Right on, @vogt4nick! This is on our [to-do list](https://github.com/fishtown-analytics/dbt-utils/issues/273) :) I think we'll be able to just bump the utils requirement to
[code]

[2020-09-03 19:29] vogt4nick commented on #39
Wonderful! I'll hold out for that change to dbt-utils and close this issue then 😄 Thanks for the fast response!

[2020-09-03 19:29] #39 closed

[2020-09-25 06:48] yu-iskw opened #41 "Support BigQuery external tables"
### Describe the feature
I want to use BigQuery external data sources feature with dbt.

### Describe alternatives you've considered
I have no idea.But, according to the official documents, there is no way to manipulate external resources with only SQL statements.

- https://cloud.google.com/bigquery/external-data-sources

### Additional context
My request is limited to only BigQuery.

### Who wil

[2020-09-25 13:47] jtcohen6 commented on #41
This is _the_ thing stopping us from supporting BigQuery external tables in this package. The only ways forward I see are:

- BQ team adds DDL support for creating external tables
- We or a community member contribute a python external config adapter method to [dbt-bigquery](https://github.com/fishtown-analytics/dbt/blob/dev/kiyoshi-kuromiya/plugins/bigquery/dbt/adapters/bigquery/impl.py) ([docs](

[2020-10-07 13:58] yu-iskw commented on #41
@jtcohen6 Thank you for sharing it. BigQuery team may support the DDL of external data sources in the near future, as a result of filing the issues to them. If it is supported, we can move forward. I would love to contribute to it.

[2020-10-14 07:36] skeary-immt opened #43 "COPY INTO command not getting committed with Snowflake"
Hi,

Firstly, thanks for a great tool!

### Describe the bug

When using Snowflake, configuring dbt to load some JSON files from S3 into a new table, and then doing an initial run of `stage_external_sources` on a new database, I noticed that the data files didn't appear to get properly loaded from the external stage into the table created by the script. After running the script and using the Snowf

[2020-10-14 07:56] skeary-immt commented on #43
If it's helpful, I can attempt to contribute a patch if this is a bug rather than just a user error on my part. In this case, do you have any pointers on intended the transaction model?

I suspect the correct thing may be to add `snowflake__exit_transaction` implementation that does a `BEGIN` and `COMMIT`? This would seem to align with the model used for Redshift.

[2020-10-15 18:32] jtcohen6 commented on #41
https://cloud.google.com/blog/topics/developers-practitioners/smile-new-user-friendly-sql-capabilities-bigquery
https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#create_external_table_statement
:))

[2020-10-19 02:41] yu-iskw commented on #41
Yeah, they are GA now!
https://cloud.google.com/bigquery/docs/release-notes#October_14_2020

[2020-10-28 15:47] alittlesliceoftom opened #45 "DBT CLI returning hologram.ValidationError in Python Version 3.9.0"
### Describe the bug
DBT CLI returning hologram.ValidationError in Python Version 3.9.0

### Steps to reproduce

Create a venv with 3.9:
` py -3.9 -m venv dbt39`
Activate it.
`pip install dbt-core`
`
### Expected results

Normal debug

### Actual results

hologram.ValidationError.

### Screenshots and log output
Partial log output:

  File "C:\projects\orchestration\dbt39\Scripts\dbt.exe\__main__.

[2020-11-02 12:52] alittlesliceoftom commented on #45
Oops this should have been on core.

[2020-11-02 12:54] alittlesliceoftom commented on #45
Closing as merged pr on core resolves. https://github.com/fishtown-analytics/hologram/pull/37

[2020-11-02 12:54] #45 closed

[2020-11-04 17:39] jasonzondor commented on #43
I ended up just wrapping the queries with BEGIN; and COMMIT; statements.  I'm sure there's a better way.  If no one beats me to it, I'll submit a PR, but it may be a couple weeks.

[2020-11-14 22:42] jtcohen6 commented on #43
Thanks for opening this issue @skeary-immt, and for the detailed writeup! Sorry for my delayed response here.

As you've pointed out, Snowflake transactions are funny because, while all DDL statements are auto-committed, whether DML statements are auto-committed varies depending on your account/session parameter ([docs](https://docs.snowflake.com/en/sql-reference/transactions.html#label-txn-autoco

[2020-11-16 04:01] #9 closed

[2020-11-16 05:58] #38 closed

[2020-11-16 14:34] jtcohen6 opened #50 "Reorganize and declutter package"
### Reorganize files
With the addition of new database types, the original files are getting cluttered.

Proposed structure:
[code]

We can also do more to leverage dispatched macros, in particular `default__` or `alternative_` implementations, to limit the amount of repeated code.

### Documentation

- Simplify/generalize README
- Rework `sample_sources` to house all database-specific info

### W

[2020-11-16 14:37] jtcohen6 commented on #41
@yu-iskw I'd be curious to get your eyes on the initial implementation in #49

[2020-11-19 09:04] yu-iskw commented on #41
@jtcohen6 Super-duper! I will look into the PR. Thank you very much for the PR.

[2020-11-20 20:49] bdelamotte commented on #10
Hi @jtcohen6 , I am very interested in this feature idea. Before I knew about this package, I implemented something similar a different way using a macro and a pre-hook.

The macro is:
[code]

Then we use it in a model like this:
[code]

The pre-hook creates a view on any kind of data in S3 with schema inference, and then the model uses that newly defined global temp view to select from it. It is

[2020-11-20 20:50] bdelamotte commented on #10
One more thing for above - I was thinking a similar direction where instead of calling a pre-hook, I could just define the s3 path and the data type for me in a yaml file and then run something to create a view or external table on top of that. Then I could use the `ref` function to refer to that and create a linage in the models from the raw CSV or JSON data (or whatever format) with the rest of

[2020-11-20 21:41] jtcohen6 commented on #10
I did not know this!

This is _exactly_ what the `dbt-external-tables` package is all about, though using the `source` function (not `ref`) to select from the staged external table.

I was thinking of working on Spark support for this package soon, since I set up CI this past weekend and could add an integration test for Databricks. There's some vestigial work already in there (`spark__create_exte

[2020-11-20 22:38] bdelamotte commented on #10
Oh yea!  Sorry, I meant the `source` function.  :)

If you need a guinea pig or want to delegate some work to the community, I am open to helping on the weekends!

[2020-11-20 22:41] jtcohen6 commented on #10
Heh, I'm just splitting hairs for no reason :)

I'd love some help! I can take a first swing at this; I know there'll be lots of details to fill in after.

[2020-11-20 23:08] bdelamotte commented on #10
Sounds good!

[2020-11-23 17:03] jtcohen6 commented on #10
Hey @bdelamotte, check out #51. I added preliminary support for Spark external tables, with initial tests running for `create table using`-style syntax on top of a CSV data source (`s3://dbt-external-tables-testing/csv/`).

I haven't been able to figure out:
- Specifying columns for a [ndjson](http://ndjson.org/) data source (`s3://dbt-external-tables-testing/json/`)
- Querying Hive-style external

[2020-11-24 02:35] bdelamotte commented on #10
@jtcohen6  Looks good to me! This looks awesome!

[2020-11-24 02:53] jtcohen6 opened #52 "Expand tests for Spark external tables"
(split off from #10)

### Not currently tested
- [ ] ndjson (`s3://dbt-external-tables-testing/json/`)
- [ ] Hive-formatted external tables, since SQL Endpoint returns this error:
[code]

[2020-11-24 02:53] #10 closed

[2020-11-25 09:19] bdelamotte opened #53 "Spark External Table Bugs"
### Describe the bug
I tested out https://github.com/fishtown-analytics/dbt-external-tables/pull/51#pullrequestreview-537030720 today by using the following declarations in the `packages.yml` file:
[code]

I came across two issues:
1. After declaring a Spark external source and creating it using the `dbt run-operation stage_external_sources` command, you cannot reference it with the normal source

[2020-11-25 14:45] jtcohen6 commented on #53
Thanks for checking this out @bdelamotte!

1. I haven't had this experience while developing locally. Using the example here:
https://github.com/fishtown-analytics/dbt-external-tables/blob/f2924dfb3b9772843d8c44ac5fad9629cb0d2795/integration_tests/models/spark.yml#L3-L10
I can write this in a model, and it works just fine:
[code]

2. I _hope_ this is what [`refresh table`](https://spark.apache.org

[2020-11-29 18:43] jtcohen6 opened #55 "Add parquet data source for integration testing"
### Describe the feature
We've got `people.csv` and `people.json`, why not `people.parquet`?

### Describe alternatives you've considered
Other formats we could consider adding, recognizing that they may not be supported on all databases:
- avro
- delta

### Additional context
All databases should have support for parquet, since it's the canonical open source column-store format

### Who will this

[2020-11-29 18:59] jtcohen6 opened #56 "Expand tests for BigQuery external tables"
(split off from #41)

- [ ] Figure out what's up with the ndjson source. Although staging the external table works well enough, I see this error as soon as I try to to query it: `error message: JSON parsing error in row starting at position 0: Expected key`. For the sake of merging #49, I've just commented out these tests.
- [ ] Will BQ add DDL support for other external sources (Cloud Bigtable, G

[2020-11-29 19:00] #41 closed

[2020-11-30 00:49] jasonicarter opened #58 "Redshift ALTER statement missing partitions from sources.yml"
### Describe the bug
Alter table statement (Redshift) missing partition statements. It appears to only use the first and last defined partitions in the sources.yml file. I've tried it a number of times with different number of partitions (always the 1st and last shown in dbt.logs)

### Steps to reproduce
(this was my original setup, the test yml below is a simplified version which causes the same

[2020-11-30 05:10] bdelamotte commented on #53
I will re-double my testing effort this week and see if I still run into it for #1.
Totally didn't know about `refresh table`! I will try that too! Thanks @jtcohen6

[2020-11-30 20:32] jtcohen6 commented on #58
Hey @jasonicarter, could you try out the changes in #59? I'm not in love with my approach, but I'm hopeful that it resolves this bug in the short term:
[code]

[2020-11-30 22:03] #50 closed

[2020-12-01 13:52] jasonicarter commented on #58
Hi @jtcohen6 , I can confirm the package change above successfully created and altered the external table. Using the same sources.yml as in the original issue, please see the `dbt.log` snippet below...

[2020-12-03 19:32] #58 closed

[2020-12-10 04:27] bdelamotte commented on #53
I think I found a different potential bug. If you create an external table and then change the data type, the refresh table will still have the old data type. For example, I had an external table with a column of type Decimal and changed it to Double, but after re-running `dbt run-operation stage_external_sources` , the tables just get refreshed, but still have the old data type.

I propose either

[2020-12-10 17:42] jtcohen6 commented on #53
@bdelamotte Right on, I've sorta-hacked the `--full-refresh` flag (since it isn't supported by `run-operation` otherwise) using a CLI var. Try running: `dbt run-operation stage_external_sources --vars 'ext_full_refresh: true'`

[2020-12-21 22:37] bdelamotte commented on #53
Good to know I can do the full refresh with the above way you provided. Thank you @jtcohen6 !

I think we found one more bug last week. If we run `dbt run-operation stage_external_sources` for a schema that doesn't exist yet, this command will error out. Since I always ran `dbt seed` before this command, I never ran into it. Then a co-worker of mine got slim CI working and since there was no chang

[2020-12-22 01:07] jtcohen6 commented on #53
Good point, that's definitely true. What do you think? Should dbt run `create schema if not exists`, for each source, before creating the external table?

This is one of the wrinkles that exists because stage external sources is a run-operation, rather than a "real" builtin task. It would be very cool to support it as one someday (https://github.com/fishtown-analytics/dbt/issues/2381).

[2021-01-06 23:26] codigo-ergo-sum opened #63 "'null' Values Causing Issues with .csv File Import In Snowflake With non-VARCHAR Datatype"
### Describe the bug
When creating external tables pointing to .csv files in Snowflake, trying to type certain columns as non-VARCHAR datatypes, (e.g. INT/NUMBER) when there are NULL values present in the source causes this error when trying to query the external table (not on external table creation, just querying): "Failed to cast variant value "null" to FIXED"

### Steps to reproduce

1. Put a

[2021-01-07 11:50] jtcohen6 commented on #63
Thanks for the bug report @codigo-ergo-sum!

I think the simplest approach is to replace the `nullif([column] , '')` below:
https://github.com/fishtown-analytics/dbt-external-tables/blob/8ce844e7993b165322f46bb68718b0a84c6ca86a/macros/plugins/snowflake/create_external_table.sql#L19-L20
With something a bit more thorough that (a) leverages Snowflake's IS_NULL_VALUE function ([docs](https://docs.sno

[2021-01-11 07:02] stewartbryson opened #65 "New "pattern" option is working for Snowflake External Tables but not Snowpipe."
### Describe the bug
Snowflake now supports regex matching using the `pattern` property. This is working correctly for External Tables, but the option is also supported in Snowpipe. The `pattern` option in Snowpipe is not being added to the `COPY INTO` command.

### Steps to reproduce
[code]

### Expected results
[code]

### Actual results
[code]

### System information
**The contents of your `pac

[2021-01-11 08:39] jtcohen6 commented on #65
This is great news! IMO this had been a serious limitation of snowpipes relative to external tables.

@stewartbryson I think the fix here could be a one-liner. Do you have interest in contributing it?

[2021-01-12 17:19] codigo-ergo-sum opened #66 "When name of column is "UNION", external table creation failes"
### Describe the bug
We have incoming data with various column names that we want to stage using dbt-external-tables. One of the column names in the incoming data is "UNION". It is union because the business meaning is "the name of the labor union to which the employee belongs." When we create a .yml file referencing this column and run `dbt run-operation stage_external_sources --vars 'ext_full_re

[2021-01-12 21:43] stewartbryson commented on #28
As far as I'm aware, `metadata$file_row_number` is specific to Snowpipe. That is not a virtual column in external tables.

https://docs.snowflake.com/en/user-guide/tables-external-intro.html#virtual-columns

[2021-01-15 10:44] jtcohen6 commented on #28
@stewartbryson You're right, thanks for the clarification. I know that the `metadata$file_row_number` pseudo-column is available to `copy` statements (including ones wrapped in snowpipes). I'd hoped that it would also be available to external table definitions, but indeed it appears not to be.

[2021-01-15 11:13] jtcohen6 commented on #66
@codigo-ergo-sum Thanks for the detailed write-up. I've thought about this a bit more, and I've come to feel that we're really at the mercy of Snowflake keywords here. Since you are loading a CSV file, and you're matching columns by ordinal position rather than name (as in JSON/parquet/etc), your first and best choice is to pick a different column name :)

But we can still find a way to make this

[2021-01-27 06:35] jeremyyeo commented on #43
Adding to this issue around refreshing external tables (`alter external table my_ext_table refresh`) being stuck in an "maybe" errant `begin;` statement.

Had to do patch it like so https://github.com/jeremyyeo/dbt-external-tables/tree/jeremyyeo-patch-1 in order for a `dbt run-operation stage_external_sources` to pick up any new files in s3.

Relevant Slack thread: https://getdbt.slack.com/archive

[2021-01-28 19:37] #66 closed

[2021-01-29 07:45] codigo-ergo-sum commented on #65
I don't have much to say regarding Snowpipes but I didn't even know the `pattern` option existed for external tables before reading this, and it just saved me a _huge_ amount of effort today - I was able to create one stage for about 185 different tables to be defined with various files in various subfolders under the one folder assigned to the stage instead of needing to create a stage per indivi

[2021-02-02 13:08] dm03514 opened #69 "Update from 0.5.0 -> 0.6.0 strips leading 0s in Redshift Spectrum Partitions"
### Describe the bug
We are using redshift spectrum external tables and we have partitions of the form:

`/YYYYmmdd/HH`

In v0.5.0 we generate the hourly partitions using:

[code]

We then execute:

[code]

In v0.5.0 this will create 24 partitions per day which include leading 0s, i.e. `00`, `01`

After upgrading to v0.6.0 the same command generates partitions and strips the leading 0s. This means

[2021-02-02 14:23] jtcohen6 commented on #69
Thanks for the detailed bug report @dm03514! I'll have a look at what's gone wrong here

[2021-02-02 15:32] jtcohen6 commented on #69
Ok, it appears the issue here is two things. First, if you define your `partitions` like so:
[code]
 There is a risk of YAML interpreting those values as integers instead of strings. It's safer to do:
[code]
vals:
 - '00'
 - '01'
 - '...'
 - '23'
[code]

[2021-02-10 18:29] sgoley opened #71 "Has the full refresh syntax changed?"
Attempting to run the following per github readme:
`dbt run-operation stage_external_sources --vars 'ext_full_refresh: true'`

Expecting to generate a "full refresh" of my external table sources.

Instead, am receiving the following:
`dbt: error: unrecognized arguments: true'`

Doing a few variations:
`dbt run-operation stage_external_sources --vars 'ext_full_refresh'`
Results in:
`Compilation Err

[2021-02-11 10:41] jtcohen6 commented on #71
@sgoley This should still work the way you'd expect. It's possible that, using Windows/PowerShell, your CLI quoting needs to be slightly different.

You can also try the expanded `--vars` syntax:
[code]

[2021-02-11 17:28] sgoley opened #72 "Delimiter options?"
Similar to snowflake's "create external table" features, is it possible to utilize input parameters for:

- record delimiter
- field delimiter

Further documentation:
https://docs.snowflake.com/en/sql-reference/sql/create-external-table.html#type-csv

Current functionality the yml spec:
`format: csv`

-Benefit-
Anyone who uses the csv feature of the dbt-external-tables module

[2021-02-11 18:33] sgoley commented on #71
Yep - it looks like windows requires double quotes!

below is valid!
`dbt run-operation stage_external_sources --vars "{ext_full_refresh: true}"`

[2021-02-11 18:33] #71 closed

[2021-02-12 13:54] jtcohen6 commented on #72
Hey @sgoley! The `file_format` property, used as the input to `create external table` statements, accepts a string of any length. So today, you could pass it:
[code]
The package macros will template this out as:
[code]
I know that's not the prettiest specification, so maybe we could consider adding support for dict-style `file_format` as well:
[code]
If `file_format` is a dictionary, the package m

[2021-02-12 20:50] sgoley commented on #72
That's fantastic. Just didn't see it documented anywhere! Is there any pages here or in the docs I could start contributing these options to?

[2021-02-12 20:50] #72 closed

[2021-02-15 15:59] jtcohen6 commented on #72
That's fair. This package's documentation is a combination of:
- [README.md](https://github.com/fishtown-analytics/dbt-external-tables/blob/HEAD/README.md)
- [sample sources](https://github.com/fishtown-analytics/dbt-external-tables/tree/blob/HEAD/sample_sources)
- (sort of) [integration tests](https://github.com/fishtown-analytics/dbt-external-tables/blob/HEAD/integration_tests/models/plugins) — 

[2021-02-19 07:51] dataders opened #74 ""mart-erialized" external tables?"
### Describe the feature
I feel weird even saying this out loud, but after hearing this this package is @jtcohen6's "house in the country", I realized my [schnapsidee](https://www.dw.com/en/word-of-the-week-schnapsidee/a-17351833) just might belong after all. So here goes.

What if in the `external` config dict, there was a `materialized` key that defaults to `false`, but if true would stage the e

[2021-02-23 09:00] #69 closed

[2021-02-24 23:17] LagerVegard opened #77 "CSV file with "|" delimiter gets data offset to wrong column."
### Describe the bug
Azure blob storage & Snowflake

I'm able to import the data using standard formatting in snowflake:
COPY INTO CASHIER
FROM
@my_azure_stage
Trying to replace this I get an error message: "String '2015-07-29 15:08:23.0000000' is too long and would be truncated"
when altering the columns i can see that the string has jumped to the next column and the last column is missing.
### S

[2021-02-25 10:36] jtcohen6 commented on #77
Hey @LagerVegard, I'm not sure exactly what's gone wrong here! I copy-pasted your line of errant data, split it on the `|` delimiter, and got back the right number of columns (22).

Have you tried copying the `create external table` DDL from `logs/dbt.log` and running it yourself in the Snowflake console, to see if the same thing goes wrong?

The `dbt-external-tables` package exists to compile and

[2021-02-25 11:47] LagerVegard commented on #77
Looking at logs/dbt.log i see that i'm loosing a column in the definition.
          - name: MAXOVERSHORTPRECENT
            data_type: FLOAT
            description: 'Max Over Short Percent'

create or replace external table ADF.dbt_user.table(
            HQID NUMBER(38) as (nullif(value:c1,'')::NUMBER(38)),
            LASTUPDATED TIMESTAMP as (nullif(value:c2,'')::TIMESTAMP),
            NUMBE

[2021-02-25 11:56] LagerVegard commented on #77
Found the issue.

name: OVERSHORTLIMITTYPE
data_type: NUMBER(38)
description: 'Over Short Limit Type'

was missing
- name: OVERSHORTLIMITTYPE
data_type: NUMBER(38)
description: 'Over Short Limit Type'

[2021-02-25 12:05] #77 closed

[2021-03-01 07:05] jnoynaert commented on #43
@jtcohen6 this is still an issue (including with autocommit enabled), but only for the last refresh in a chain. E.g. if you trigger 5 full refreshes, the first 4 will get auto-committed and the last one will execute but not commit.

[Your exit transaction fix](https://github.com/fishtown-analytics/dbt-external-tables/blob/970452b04322bd66d02935e50809053456925fcd/macros/plugins/snowflake/helpers/tr

[2021-03-26 22:22] yapnel opened #80 "Parquet Example"
Any examples of creating external table for parquet for spark? I'm struggling to define the specifications. Any help much appreciated

Thanks

[2021-03-30 13:11] #63 closed

[2021-03-31 19:54] jtcohen6 commented on #80
This isn't something I've actually done (parquet + spark), but I think it ought to be possible. If someone else has had experience doing this, I'd love to hear about it!

[2021-04-02 12:25] jtcohen6 commented on #43
Some users report that the fix in #47 resolves this error for them, others report that it does not. I'm increasingly inclined to fix this in an overly aggressive way that's surer to work, as suggested above, by explicitly wrapping the `copy` and `alter ... refresh` statements in `begin` + `commit`.

[2021-04-21 06:35] bbossy opened #86 "Add support for external table auto refresh on Snowflake in Azure"
### Describe the feature
Add support for auto refresh for external tables in Snowflake on Azure.

### Describe alternatives you've considered
No alternatives exists, as far as I know.

### Additional context
This applies to Snowflake on Azure only:
For auto refresh on external tables in Snowflake to work, the parameter `integration` needs to be set to the notification integration that receives the

[2021-04-29 13:09] #86 closed

[2021-05-13 18:15] elliottohara opened #88 "Refreshing external tables does not persist new files."
### Describe the bug
External tables do not refresh on snowflake.

### Steps to reproduce
When running `dbt run-operation stage_external_sources` I expect my external tables to be refreshed. While I do see the queries being executed and get results for all new files, subsequent queries to the external table do not show the new results.

### Expected results
Results should be committed

### Actual

[2021-05-14 16:16] radeleye opened #89 "Failure to create External Tables across Multiple Databases within Snowflake"
### Describe the bug

We are attempting to create external tables within multiple databases yet when we run the `dbt run-operation stage_external_sources` command, the package attempts to create all external tables from stages within the database specified in our profiles.yml file and errors out when we attempt to create external tables in other databases because the stages specified in the source

[2021-05-24 15:20] jasonzondor commented on #88
I believe this is the same as bug https://github.com/fishtown-analytics/dbt-external-tables/issues/43 and there's a PR submitted for a fix https://github.com/fishtown-analytics/dbt-external-tables/pull/47, which worked for me... but I'm not sure why it hasn't been committed into master yet.

[2021-05-24 20:24] drewmcdonald commented on #56
@jtcohen6 per your second point, yes! ([full docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#create_external_table_statement))

I was just doing some testing and got a sheets-backed table up and running with dbt-external-tables v0.6.2.

I haven't tried relying on schema inference or any other bells and whistles, but the stripped-down spec below works ou

[2021-05-25 03:44] #43 closed

[2021-05-25 03:44] jtcohen6 commented on #88
Thanks for the detailed report @elliottohara! As @jasonzondor notes, I'm hopeful that #47 (just merged) offers a resolution for this. If that's not the case, let's figure out what else is at play.

[2021-05-25 03:44] #88 closed

[2021-05-25 03:51] jtcohen6 commented on #89
Thanks for the detailed writeup @radeleye!

The package doesn't do anything with stages, except include the provided `external.location` in its `create external table` and `create snowpipe` DDL statements. As noted in the README, this package assumes that you have already created any Snowflake external stages you need. If those stages exist in databases different from `target.database`, then you c

[2021-05-25 03:51] #89 closed

[2021-05-27 07:12] gerardgrauges opened #94 "Macro directory with same name than macro .sql file"
### Describe the bug

### Steps to reproduce

### Expected results

### Actual results

**The output of `dbt --version`:**
[code]

**The operating system you're using:** MacOS

**The output of `python --version`:** 3.8.2

[2021-05-27 12:50] jtcohen6 commented on #94
@gerardgrauges Thanks for opening! I'm going to transfer this issue to the dbt-docs repo, since I believe that's where the bug is, and where the requisite code change would need to happen.

[2021-05-28 19:02] jasonzondor commented on #88
@jtcohen6, I just went through and tested again, and it is not fixed in https://github.com/fishtown-analytics/dbt-external-tables/pull/47.  The only way to get it to work was to wrap the alter refresh statement in BEGIN and COMMIT statements.  I'm sure there's a more "correct" way to handle this but that's a bit beyond my knowledge of dbt development for the time being.

[2021-05-28 19:26] jasonzondor opened #95 "Snowflake External Table Refresh Statement not being Commited"
### Describe the bug

This is related to the PR https://github.com/fishtown-analytics/dbt-external-tables/pull/47 which was supposed to fix the issue where the refresh statement for Snowflake wasn't working.

### Steps to reproduce

For Snowflake, after the initial creation of the external table, and for non-auto refresh setups, run {{ dbt_external_tables.stage_external_sources() }} and the refres

[2021-06-11 10:36] alexanderstautner opened #100 "Package is not generating schema in Snowflake, when schema is not existing"
### Describe the bug
When I use in the spec.yml in the sources block a schema that is not existing at the snowflake database and run **dbt run-operation stage_external_sources**  then I got a schema not existing or not authorized error.

### Expected results
As in the dbt models, when I name a schema that is not existing yet, then the schema is created.

### Actual results
Error that the schema is

[2021-06-25 15:54] jtcohen6 commented on #95
Resolved by #98

[2021-06-25 15:54] #95 closed

[2021-06-29 12:51] jtcohen6 commented on #100
@alexanderstautner Thanks for opening, it's worth revisiting this question.

Initially, I did not think it ought to be the responsibility of this package to create the schema for a couple of reasons:
- On Redshift, external tables can only be created in external schemas, and external schemas are a thing unto themselves. Creating them requires certain permissions, and an IAM role or secret at time

[2021-07-06 06:53] alexanderstautner commented on #100
@jtcohen6  Thanks for your answer. I see your point with Redshift and I see your point with the source.

So to recapitulate this. The module has two natures depending on the database system. There are database systems like Redshift where it is behaving like a source. So the external table and the schema must be created outside dbt and the module is only referencing to an existing object.

And then

[2021-07-07 16:51] jtcohen6 commented on #100
@alexanderstautner I'd say that this package always takes the opinionated view that external tables should _always_ be treated like sources, and not like models. To that end, there's likely to be some advance setup required (e.g. Redshift schema, Snowflake external stage). On other data technologies (e.g. Apache Spark), there's a much narrower distinction between an "external table" and a "managed

[2021-08-14 00:47] barberscott opened #104 "Need to explicitly declare auto_refresh for Snowflake-GCS integrations to work"
### Describe the bug
Snowflake throws invalid property 'auto_refresh' for 'Not aws or azure deployment' when attempting a `CREATE OR REPLACE EXTERNAL TABLE` with a stage for a GCS integration.

### Steps to reproduce
- Set up GCS integration
- Attempt to run `dbt run-operation stage_external_sources`

### Expected results
`dbt run-operation` command succeeds.

### Actual results
Fails with `invali

[2021-08-16 17:52] davesgonechina commented on #104
I got the same error even when explicitly declaring auto_refresh: false. I ended up creating my own version of `macro snowflake__create_external_table(source_node)` where I hardcoded `auto_refresh = false` and took advantage of `{% set override_namespaces = var('dbt_external_tables_dispatch_list', []) %}` in `get_external_tables_namespace.sql`, put a variable in `dbt_project.yml` to prioritize my

[2021-08-16 18:24] barberscott commented on #104
This line:
`{% if external.auto_refresh -%} auto_refresh = {{external.auto_refresh}} {%- endif %}`

Says "only if the value of auto-refresh is true, write out the value of auto_refresh"

whereas this form, which is in the proposed fix:
`{% if external.auto_refresh is not none -%} auto_refresh = {{external.auto_refresh}} {%- endif %}`

Says "if auto_refresh is set, write out the value of auto_refre

[2021-08-16 18:36] davesgonechina commented on #104
ah duh, right! In that case when combined with the dispatch list variable, I should be okay for now. Presumably I'll need to upgrade to dbt 0.20 and v0.7.0 of `dbt_external_tables` to take advantage of this bugfix if it gets merged down, right?

[2021-08-16 19:36] barberscott commented on #104
Yes, I would recommend dbt v0.20.1 now that it's final (and v0.20.2 when it's released or even v0.21.x which is already in beta) and I would expect this package would move to v0.7.1.

[2021-08-22 16:34] pedromachados opened #107 "Version conflicts with dbt_utils when using dbt 0.19.2"
### Describe the bug
I'd like to use version 0.6.4 of the package with dbt 0.19.2 but am getting a conflict with `dbt_utils`. If I only specify `dbt_external_tables` in my `packages.yml`, it does not respect the version constraints and installs a package that requires dbt 0.20.

### Steps to reproduce
1. Use the following in `packages.yml`

[code]

2. run `dbt clean && dbt deps`
3. run `dbt compil

[2021-08-23 11:30] jtcohen6 commented on #107
Thanks @pedromachados! It looks like the incorrect package dependency was defined on the Hub site. Fix for it is here: https://github.com/dbt-labs/hub.getdbt.com/pull/819

[2021-08-23 14:41] #104 closed

[2021-08-23 16:45] pedromachados commented on #107
Thanks, Jeremy! It's working.

[2021-08-23 16:45] #107 closed

[2021-09-03 07:54] pgoslatara commented on #1
Note for anyone else that encounters this issue in future, I had to use surrounding double quotes for this to work with dbt 0.20.1:
[code]

[2021-09-06 08:19] guillesd commented on #100
Hi @jtcohen6, I actually think that adding `create schema if not exists` could help quite a lot. Sometimes, precisely because these are external tables coming from a particular location, you want to cluster them using something like a schema so that you can easily recognize them (_src_external_, for example).

If you agree I can try to make a PR for this!

[2021-09-07 08:40] guillesd opened #108 "spark__create_external_table macro is wrong when specifying partitions"
### Describe the bug

The way to create tables in Spark according to the [docs](https://spark.apache.org/docs/latest/sql-ref-syntax-ddl-create-table-datasource.html) is the following:
[code]

In the current `spark__create_external_table(source_node)` macro, the  partitions are not included in the column definitions. Moreover, the partitions data types are also indicated in the partition definition

[2021-09-14 02:53] codigo-ergo-sum opened #109 "Multi-threading for dbt_external_tables"
### Describe the feature
It would be lovely if, when dbt_external_tables is run, that it would obey dbt's threading parameters and create external tables in parallel. I ask this because we have about 400 external tables that we create, and running the `run-operation` command (`dbt run-operation stage_external_sources --vars 'ext_full_refresh: true')` can take somewhere between 10 to 20 minutes. We

[2021-11-04 18:35] robertjrodger commented on #108
Also there's an `s` missing at the end of `external.partition` at https://github.com/dbt-labs/dbt-external-tables/blob/master/macros/plugins/spark/create_external_table.sql#L5

[2021-11-05 00:02] jtcohen6 commented on #108
Sorry for the delay here @guillesd @robertjrodger. You're right, it looks like there are some syntax errors, and indeed the missing `s` would explain why this integration test has been succeeding in the meantime:
https://github.com/dbt-labs/dbt-external-tables/blob/4cf72bac6f5ed898708a98894020228f3f9bfb0b/integration_tests/models/plugins/spark_external.yml#L35

Either of you feel up to a quick PR?

[2021-11-05 07:17] guillesd commented on #108
Hey @jtcohen6! I'll make a fix on Monday! Indeed that is the reason why the partitioned test is not failing, two bugs helping one another to fail silently, jeje

[2021-12-11 00:23] VasuBalakrishnan opened #118 "Snowflake External Tables - Support for multiple string values for SQL NULLs"
This is an extension to issue #63.

I would like to propose extending this feature similar to CREATE FILE FORMAT's NULL_IF parameter so that we can treat multiple values to be NULLs instead of just single 'null' in the input.

Proposed Solution:

Extend the external yaml section with a null_if parameter

[code]

Update the snowflake__create_external_table macro to read the above setting and modify

[2021-12-16 12:19] jtcohen6 commented on #118
@VasuBalakrishnan Thanks for opening, and for bringing my attention to the [`NULL_IF` format parameter](https://docs.snowflake.com/en/sql-reference/sql/create-file-format.html#:~:text=NONE-,NULL_IF,-%3D%20(%20%27string1%27%20%5B%20%2C%20%27string2%27%20%2C%20...%20%5D%20)).

Instead of reinventing the wheel with our own SQL logic, it sounds like you could achieve the desired behavior via:
[code]

[2021-12-16 12:21] jtcohen6 commented on #100
@guillesd Sorry for the delayed response — I'm convinced! I'd welcome a PR for this.

Let's keep this automatic schema creation limited to databases that do _not_ require additional setup at schema creation time — which means no to Redshift, yes to Snowflake and BigQuery. What's the right approach for Spark?

[2021-12-16 12:31] jtcohen6 commented on #109
@codigo-ergo-sum Yes yes yes! Thanks for opening, and sorry for the delay in response.

I think this is going to become an increasing need as dbt project footprints grow, and along with them the adoption of external tables via this package.

Here's the catch: dbt's threading capabilities are exposed to _Python tasks_, but they are not accessible to the Jinja programming interface. All macros, loop

[2021-12-17 09:36] SonghaBan opened #121 "v0.7.2 no attribute 'PRINTER_WIDTH'"
### Describe the bug

I ran `dbt run-operation stage_external_sources` on the DBT Cloud
and got the following error message.
[code]

### System information
**The contents of your `packages.yml` file:**
[code]

**Which database are you using dbt with?**
- [ ] redshift
- [ ] snowflake
- [X] other (specify: spark )

The dbt version is 0.21.0.

[2021-12-17 09:40] jtcohen6 commented on #121
@SonghaBan Thanks for the report! I've got a fix for this in https://github.com/dbt-labs/dbt-external-tables/pull/120

[2021-12-17 09:40] #121 closed

[2021-12-17 09:45] #108 closed

[2021-12-17 21:59] nickc1 opened #123 "[QUESTION] Best way to create partitions for data partitioned by year/month/day"
Hello!

Thank you for this awesome package. This could really help simplify our architecture.

I'm trying to find the best way to generate the partitions. Our data is currently partitioned in the following format:

[code]

I tried the following:

[code]

The above works, but since a cartesion product is performed under the hood, I end up recreating partitions multiple times. Is there a more effici

[2021-12-20 15:34] guillesd commented on #100
Okey I will pick this up on Friday @jtcohen6. For Spark it will have to be the following statement:
[code]
Hive metastore does not support schemas as a level of abstraction --> [docs](https://spark.apache.org/docs/3.0.0-preview/sql-ref-syntax-ddl.html)

[2022-01-05 14:18] ferdyh opened #125 "Support dbt-databricks adapter"
### Describe the feature
Supporting the dbt-databricks adapter.

### Describe alternatives you've considered
I've tried copying the spark adapter and renaming spark with databricks, and seems to work. Though a more elegant solution should be implemented imho.

### Additional context
dbt-databricks

### Who will this benefit?
Users using databricks' own dbt adapter.

[2022-01-05 14:25] ferdyh opened #126 "Running RECOVER PARTITIONS without defining partitions"
### Describe the feature
In Databricks you can recover partitions from existing parquet files when creating a table without partitions. When you define the partitions in the source (dbt) you also need to define the schema of the table. If you don't define a schema without partitions, the recover partitions still works, only the dbt_external_tables won't run the recover partitions part (cause no pa

[2022-01-05 14:57] ferdyh commented on #125
Indeed. Hope that get's fixed soon. Your proposed solution with automatically fix this aswell.

[2022-01-12 14:09] everettttt opened #127 "Too many quotes in generated command"
**Edit:** Perhaps I should instead submit this issue to dbt's [Redshift plugin](https://github.com/dbt-labs/redshift), since [`dropif.sql`](https://github.com/dbt-labs/dbt-external-tables/blob/4cf72bac6f5ed898708a98894020228f3f9bfb0b/macros/plugins/redshift/helpers/dropif.sql) seems to generate `DROP TABLE` commands and there's no way to control quote marks there. Or perhaps it belongs in `dbt-cor

[2022-01-16 01:31] scarrucciu commented on #100
@guillesd I am creating the schema's manually right now to organize source tables for bigquery, so would be very interested in this feature. Please let me know if there is any way I can help on it.

[2022-01-26 21:30] timbrownsf opened #128 "'module object' has no attribute 'PRINTER_WIDTH'"
### Describe the bug
When trying to run stage_external_sources, I receive the error `'module object' has no attribute 'PRINTER_WIDTH'`

### Steps to reproduce
Running with dbt=0.20.0
Installing dbt-labs/dbt_external_tables@0.8.0
  Installed from version 0.8.0

run dbt run-operation stage_external_sources

### Expected results
It runs the external operations

### Actual results
It errors out

### S

[2022-01-27 17:01] jtcohen6 commented on #128
@timbrownsf Thanks for opening the issue!

v0.8.0 of this package requires dbt-core v1.0:
https://github.com/dbt-labs/dbt-external-tables/blob/4ea5203aa22ccf55222619c784de5c3b10cbeac3/dbt_project.yml#L4

(Unfortunately, you're not seeing a more helpful error because `run-operation` didn't previously check `require-dbt-version`. We fixed that in v1.0, so now it does!)

I'd encourage you to use (and

[2022-01-27 17:01] #128 closed

[2022-01-27 19:28] timbrownsf commented on #128
I cant see a dbt 1.0 version in homebrew, and when I use the latest version via homebrew, it doesnt seem to have that version of dbt core. I do need v.0.8.0 to get access to a change that allows snowpipe pattern filtering unfortunately

[2022-01-28 09:03] jtcohen6 commented on #128
@timbrownsf Ah, sorry for the confusion on this. We changed some aspects of dbt installation in the lead-up to v1.0. In particular:
- The Homebrew formulae moved from `fishtown-analytics/dbt` to `dbt-labs/dbt`
- We split out database adapters, so each gets its own Homebrew formulae: `brew install dbt-snowflake` instead of `brew install dbt`

So you may need to run:
[code]

You can read latest docs

[2022-01-31 10:40] adrianbartnik opened #129 "Support exclude / tags for the creation of external tables"
### Describe the feature
`dbt` supports selecting models by tags, e.g. `dbt run --select tag:my_tag`. We'd like to have a similar functionality for the `dbt-external-tables` package. The `dbt source freshness` command already supports this, see [here](https://github.com/dbt-labs/dbt-core/pull/3554), which is referenced by the `README.md`.

### Describe alternatives you've considered
The alternativ

[2022-01-31 11:23] jtcohen6 commented on #129
@adrianbartnik I totally hear you, and strongly agree! For better and for worse, this ends up being the same ask as the one in https://github.com/dbt-labs/dbt-external-tables/issues/109.

In order to support node selection, `stage_external_sources` would need to "graduate" from a macro (executed via `run-operation`) to an honest-to-goodness _dbt task_. As laid out in https://github.com/dbt-labs/db

[2022-01-31 11:24] jtcohen6 commented on #125
Closing as this will be resolved by https://github.com/databricks/dbt-databricks/pull/35

[2022-01-31 11:24] #125 closed

[2022-01-31 14:39] brabster opened #130 "Include external tables in model"
### Describe the feature
I'd like to configure an external table as part of my model

### Describe alternatives you've considered
I've configured it as a source, which works OK - but when I'm doing development in my own schema I can't have my own version of the external table as well.

### Additional context
I'm working with BigQuery at the moment. Not sure if I'm missing something about the thoug

[2022-01-31 23:29] nic-sharesies opened #132 "Blank double quoted fields in CSVs treated as varchar instead of null in Snowflake External Tables"
### Describe the bug

After we upgraded to dbt v1.0.0, we started having errors selecting from Snowflake External Tables.
This was due to the CSV files in S3 containing blank double quoted values, e.g. `""`.
Snowflake was storing these as text as opposed to null, leading to cast type errors.

### Steps to reproduce

1) Have a CSV file in S3 that contains blank double quoted fields using a non char

[2022-02-09 08:55] jarno-r commented on #126
Running ALTER TABLE RECOVER PARTITIONS or MSCK REPAIR TABLE on a table that does not have partitions causes an error. So always running it is not an option.

I've created a [quick fix](https://github.com/hurtigruten/dbt-external-tables/blob/inferred-partitions/macros/plugins/spark/helpers/recover_partitions.sql) to this issue by running ALTER TABLE RECOVER PARTITIONS if the external.partitions lis

[2022-02-25 06:34] jeremyyeo commented on #118
Linking https://github.com/dbt-labs/dbt-external-tables/issues/132 here too.

I think adding `null_if` to the end of the `create or replace external table ... file format ...` statement would be a good idea to avoid expanding case statements as you pointed out @jtcohen6.

With your suggested pattern / refactor to support dict, I think we should be able to just change these bits:

https://github.co

[2022-02-25 13:32] aPeterHeise opened #134 "Snowflake External Table - Invalid column names when using numeric values"
### Describe the bug
When using a numeric value as a column name in my external table, Snowflake throws a syntax error. There seems to be quoting missing in DBT for this column name.

### Steps to reproduce
I have the following .yml file and use it with dbt run-operations:
`      - name: external_table
        external:
          location:  "@EXTERNAL_STAGE/folder/"
        columns:
          - na

[2022-02-26 18:31] aPeterHeise commented on #130
Hi Brabster,

can you give more background & expectations please? The workflow in DBT is typically that you use sources for data that is loaded by 3rd party systems into your database; and models to reference such ONLY (via refs).

DBT external-tables could be seen as such a 3rd party tool.

So if you want external table support in your model, this would break the above logic.

[2022-02-28 12:28] jtcohen6 commented on #130
Sorry for the delayed response! You're both right — external tables are a funny in-between. dbt can run the `create external table` statement for you, into a schema of your choice, which feels a lot like a model. At the same time, the thing that's being created is really just a naive pointer to data loaded by a 3rd party system; it doesn't (shouldn't IMO) contain any opinionated transformation/"bu

[2022-02-28 12:28] #130 closed

[2022-02-28 12:31] #132 closed

[2022-02-28 12:41] jtcohen6 commented on #118
To consolidate our findings, and my current feelings:
- From #132, we should also consider `''` (empty string) to be `null` by default. That's standard behavior for CSV loading.
- Rather than require a change to macro logic every time someone wants a different `null` value, we should make it a configurable part of the external table definition.
- I _believe_ Snowflake supports such configuration,

[2022-02-28 12:46] jtcohen6 commented on #123
Hey @nickc1, glad you've gotten a lot out of the package! Sorry for the (super) delayed response from me.

Question: Do you need `year`+ `month` + `day` to exist as separate columns? (They're not really independent of each other, right?)

The way I've done this before is by treating these as three components of the same composite "date" column, and then using the [`year_month_day` path macro](http

[2022-02-28 12:51] jtcohen6 commented on #127
@everettttt Sorry for the delayed response here! It sounds like there are a few pieces here, so I want to retrace our steps.

You're seeing this error:
[code]
Because dbt is operating on a table that it believes to exist at `"sources"."src_pendo"."src_accounts"`—that is, in a database named `"sources"`, which is a different name from the database you're connecting to in Redshift. This is because y

[2022-02-28 12:55] jtcohen6 commented on #126
@jarno-r Definitely open to a PR for this one!

I like the idea of an explicit option for specifying that dbt + Databricks should recover/infer the partitions, when `partitions` is not itself defined.

I'm not strictly opposed to the cleverer approach, where dbt uses `describe table` to determine this on the user's behalf... but an explicit config feels in keeping with the approach on other databa

[2022-03-01 07:15] jarno-r commented on #126
I've created a PR. I'm not sure the integration test is meaningful though, since the test seed does not contain the partition column. That also applies to the previous people_csv_partitioned_using test.

[2022-03-04 08:56] aPeterHeise opened #137 "Add Support for Delta lake external table on Snowflake"
### Describe the feature
Add Support for Delta lake External table on Snowflake.

Snowflake recently [added this feature](https://docs.snowflake.com/en/sql-reference/sql/create-external-table.html#external-table-that-references-files-in-a-delta-lake) and I would like to call the table_format parameter in DBT.

[2022-03-12 13:47] sertaco commented on #100
I would be interested in this feature too. Right now we are creating this as an extra step and this would make the whole pipeline simpler.

[2022-03-21 14:40] alejobs opened #139 "Leverage snowflake infer_schema feature to auto-generate external tables schema"
### Describe the feature
Currently we need to manually define all columns and data types coming from the external files. With this new feature we could auto-generate external tables schema by leveraging the infer_schema or generate_column_description in Snowflake: https://docs.snowflake.com/en/sql-reference/functions/generate_column_description.html

[2022-03-27 19:36] #80 closed

[2022-04-21 11:57] pecigonzalo commented on #100
@jtcohen6 Would this be as simple as adding it to `get_external_build_plan` for Snowflake's plugins build plan? I can quickly craft a PR for that if thats all.

[2022-05-05 01:28] dalvarez06 opened #140 "Snowflake External Tables - Ability to add in custom col_expression"
### Describe the feature
`dbt-external-tables` does a great job of creating external tables into snowflake. However there are times where one might want to make there own expression to create a column.

### Describe alternatives you've considered
If we look at the below code snippet we see that the only variable that has access to the expression is `col_expression`. The issue is that we have no co

[2022-05-06 02:36] nic-sharesies commented on #140
+1 on this! I'm about to fork dbt-external-tables because I want a custom column expression to pull the replicated_date out of our parquet files.

[2022-05-30 09:14] muscovitebob opened #141 "Support for BigQuery federated queries (e.g. over CloudSQL, Spanner external connections)"
### Describe the feature
It should be possible to query external connections, and define them as sources using this package.

This would use the `EXTERNAL_QUERY` mechanism instead of the currently used `EXTERNAL TABLE` mechanism, which currently only supports Bigtable and Cloud storage.

### Describe alternatives you've considered
Currently we have plain models that incorporate the `SELECT * FROM

[2022-05-30 09:19] muscovitebob commented on #141
The external connection these queries use should be considered infrastructure and is definitely out of scope for this feature, I don't think they should be managed in dbt at all.

[2022-06-02 23:39] samLozier opened #142 "Snowflake stage_external_sources fails if target in sources.yml doesn't match default target in profiles.yml"
### Describe the bug
It seems to be impossible to override the default schema that's set in profiles.yml when attempting to create external sources.
The usual generate_schema_name macro also does not seem to be working, so the +schema syntax in yml doesn't parse properly

### Steps to reproduce
[code]

[code]
[code]
Modifying the sources.yml to use the default schema lets the project run successfu

[2022-06-07 16:31] samLozier commented on #142
ok, so I think I figured this out and it has to do with some assumptions baked into this package that weren't initially apparent to me.

This package does not create or update the external stage schema, unlike the pattern that's followed in dbt_project.yml. This means that the schema needs to be created, permissions granted, and then the stage created all outside of the normal dbt workflow. I did

[2022-06-16 12:58] amirbtb opened #143 "Equivalent of codegen `generate_source` for external tables"
### Describe the feature
An equivalent of [generate_source](https://github.com/dbt-labs/dbt-codegen#generate_source-source) for external tables :
A macro to generate YAML for a source that is an external table.
We could provide a `bucket` argument (to define the S3/Cloud Storage/... bucket) and an optional `prefix` to restrict the code generation to a subset of the bucket. We could also use anothe

[2022-07-03 15:08] achrusciel opened #144 "Corrupt BigQuery DDL statement for external tables"
### Describe the bug

I have a bucket in region us-west1 and a subfolder 02_ynab. There I store partitioned parquet data in the format 'server_knowledge=15547' etc. I want to access this parquet data through an external table in BigQuery. The generated DDL statement is not correct:
[code]

### Steps to reproduce
Create a file bigquery_stage.yml with the following contents
[code]
### Expected resul

[2022-07-03 17:35] achrusciel commented on #144
My fault: the yml-file was misconfigured. This yml-file should look like this:
[code]
--> partition and option shall be on the same level.

[2022-07-03 17:35] #144 closed

[2022-07-05 18:05] juls858 opened #145 "Dbt fails to compile when trying to create external table with models that are referencing it."
### Describe the bug
creating a model with a reference to the source causing dependency failure when using `run-operation`

### Steps to reproduce
create model referencing source:
[code]
[code]
[code]

### Expected results
Expected external table to be created.

### Actual results
[code]

### Screenshots and log output

### System information
**The contents of your `packages.yml` file:**

**Which

[2022-07-11 14:58] thijsnijhuis opened #146 "Use as a pre-hook rather than run-operation on Databricks"
### Describe the bug
When the macro is run from the on-run-start hook (like described here : https://github.com/dbt-labs/dbt-external-tables/issues/34) , it causes in an error on dbt-databricks. When I run 'dbt run-operation stage_external_sources' there are no errors.

In line 22 of  plugins\spark\get_external_build_plan.sql a module reference is missing.

### Steps to reproduce
install dbt-code

[2022-07-12 11:23] NiallRees opened #147 "Add configurable error_integration for snowpipe"
### Describe the feature
Snowflake now supports [Snowpipe error notifications](https://docs.snowflake.com/en/user-guide/data-load-snowpipe-errors.html) via a notification integration. It would be great for users of the package to be able to specify that and have the package [add the notification integration to the pipe](https://docs.snowflake.com/en/user-guide/data-load-snowpipe-errors-sns.html#ne

[2022-07-25 09:14] Kratzbaum92 opened #149 "stage generation ignores value of FIELD_OPTIONALLY_ENCLOSED_BY"
### Describe the bug
DBT ignores the value of the optional parameter field_optionally_enclosed_by.

### Steps to reproduce
[code]

### Expected results
[code]
### Actual results
[code]
### Screenshots and log output

### System information
[code]

**Which database are you using dbt with?**
- [ ] redshift
- [X] snowflake
- [ ] other (specify: ____________)

**The output of `dbt --version`:**
[code]

[2022-07-26 13:19] Kratzbaum92 commented on #149
different problem not inside the makro

[2022-07-26 13:19] #149 closed

[2022-08-17 14:18] SunriseLong opened #152 "Redshift sample_source Improvement"
### Describe the feature
A clear and concise description of what you want to happen.

Our team recently set up this package. While going through the Redshift `sample_source`  example we identified some doc improvements like how the `database` should be the local redshift DB, not the Lakeformation external DB. Also we'd like to document the `file_format` parameter which is the only way to ingest pa

[2022-08-20 03:38] jeremyyeo commented on #152
Hey @SunriseLong, I think that would be a great idea - documentation enhancements are always appreciated :)

[2022-09-01 06:56] jeremyyeo commented on #142
Hey @samLozier likely this is because this is meant to be part of the "Sources" context (https://docs.getdbt.com/docs/building-a-dbt-project/using-sources).

Sources in dbt are meant to "already exist" and selected from. If you had a setup like:

[code]

[code]

[code]

dbt doesn't actually create your schema `schema_foo` for you - it already expects it to exist. It will however create schema `ana

[2022-09-01 07:47] jeremyyeo commented on #145
@juls858 there appear to be no issue with this toy example:

<img width="896" alt="image" src="https://user-images.githubusercontent.com/8496748/187860486-54ea5d8e-9980-4764-9e1d-434b19122795.png">

My guess is you have got something else going on with your project given the error is happening in an `on-run-start` hook. Can you provide what your on-run-start hooks are?

[2022-09-02 16:28] SunriseLong commented on #152
Great I'll put something up when I get a chance!

[2022-09-06 16:42] juls858 opened #155 "Add Support for Snowflake Apache Iceberg tables"
Snowflake has support for apache iceberg tables in private preview. It would be great if this was supported.

[2022-09-07 21:22] jeremyyeo opened #156 "Fix spark odbc / databricks integration tests"
### Describe the bug
The databricks integration tests are running into errors like:

[code]

This is due to pyodbc 4.0.34 (https://github.com/mkleehammer/pyodbc/issues/1079) - the fix is to pin it https://github.com/dbt-labs/dbt-spark/pull/398.

### Steps to reproduce
I actually pulled the image (https://github.com/dbt-labs/dbt-external-tables/blob/main/.circleci/config.yml#L52) locally and ran it

[2022-09-08 15:05] jdwalder opened #157 "Support for database and schema set from yaml"
### Describe the feature
In Snowflake, when database and schema are set in the yaml, the code currently correctly attempts to create the external table in that database and schema; however, the file_format "name" and the external stage have to be fully qualified. This defeats the ability to use env_var to store the database and schema based on environment like 'dev','qa','prod'. The feature reques

[2022-09-08 17:08] samLozier commented on #142
Thanks @jeremyyeo that makes sense. I think my main issue was that I was viewing this as an extension of seeds rather than an extension of sources. I would appreciate an easy way to scale up to large static data sources that's more efficient than dbt seed, but can understand how that might be outside the scope of this package.

[2022-09-16 08:37] pgoslatara opened #160 "Spark partitions are not correctly defined"
### Describe the bug

On Spark, partitions are not correctly handled.

### Steps to reproduce

Sample csv file:
[code]

Source:
[code]

### Expected results

A partitioned table on Spark.

### Actual results

Query fails.

### Screenshots and log output

[code]

### System information
**The contents of your `packages.yml` file:**
[code]

**Which database are you using dbt with?**
- [ ] redshift
-

[2022-09-16 09:11] #156 closed

[2022-09-21 08:40] #147 closed

[2022-09-21 08:41] jtcohen6 opened #162 "Functional tests"
### Describe the feature

Convert "integration tests" project to use new functional testing paradigm, based on `pytest`: https://docs.getdbt.com/docs/contributing/adapter-development/4-testing-a-new-adapter#testing-your-adapter

Among other reasons, this would make it easier to:
- Run narrower, more modular tests
- Validate the _syntax_ of `create external table` statements (by introspecting logs)

[2022-09-21 15:47] ward-74 opened #165 "Invalid SQL Syntax for create or replace table in BigQuery"
### Describe the bug
As of today we started getting an error on the dbt run-operation stage_external_sources in our Production environmnent. According to the detail log the name for the field is invalid SQL syntax. It appears that the field name is not being generated correctly.

### Steps to reproduce

This was only reproducible in the Production environment. I had to reclone the master branch in

[2022-09-21 18:31] jeremyyeo commented on #165
Hey @ward-74, we added a line recently that would allow quoted columns but that was placed in the wrong spot. Are you up for testing the fix? You can put this in your `packages.yml` file to test out the fix branch:

[code]

It also seems that our BQ integration tests are passing when there are syntax errors - so need to double check why this is the case.

[2022-09-21 22:46] ward-74 commented on #165
Certainly, testing now.

[2022-09-21 22:55] ward-74 commented on #165
Running the patched fix corrects the SQL generation for my external tables. This seems to resolve the issue completely. Thanks for the quick turnaround.

[2022-09-21 23:05] #165 closed

[2022-09-21 23:17] jeremyyeo commented on #165
Thanks for raising and testing this - wouldn't have caught that the integration tests were wonky if you hadn't. 👍

The hub should get the new patch version in a few hours I think then your job next should work as expected.

[2022-09-21 23:22] ward-74 commented on #165
I have reverted to 0.8.0, until we get the fix in. Thanks for the hard work on this VERY valuable addition to dbt!

[2022-09-30 11:15] #137 closed

[2022-10-05 06:45] mikkosulonen opened #169 "Snowflake manual refresh doesn't work without partitions"
### Describe the bug

Snowflake manual refresh doesn't work without partitions

### Steps to reproduce
1. Define external tables with manual refresh without partitions.
2. Run ```dbt run-operation stage_external_sources```

A snippet with names redacted from one sources.yml

[code]

### Expected results
[code]

### Actual results
[code]

### System information

[code]

[code]

**Which database are

[2022-10-05 10:47] mikkosulonen commented on #169
Thinking out loud here...

https://github.com/dbt-labs/dbt-external-tables/blob/2a407bf4e99dbd3f479f4d8856312edcef01a675/macros/plugins/snowflake/refresh_external_table.sql#L6-L9

Why do we need an external table to have partitions for manual refresh?

With defaults, ie. not configuring either:

[code]

evaluates to

[code]

Looking at the documentation at: https://docs.snowflake.com/en/user-guide

[2022-10-05 17:33] gavh3 opened #170 "Including metadata column descriptions causes duplicate column name error"
### Describe the bug

Including metadata column descriptions causes duplicate column name error

### Steps to reproduce
I want to be able to provide field descriptions for the metadata columns in the source.yml as such:
[code]

However, this confuses the macro causing a duplicate column name error.

### Expected results
Be able to provide field definitions for the metadata columns

### Actual resu

[2022-10-18 21:01] jeremyyeo opened #171 "Drop previous external tables prior to running tests"
### Describe the bug
On a recent PR #148 - there was a bug but the CI tests was passing because even if there's an error with our `dbt run-operation ...` commands, there still exist the same table that was created in previous CI tests - this causes the final `dbt test` command to pass and thus the CI test as a whole is passing.

https://github.com/dbt-labs/dbt-external-tables/blob/e38cc50310de1a73

[2022-10-31 15:07] aPeterHeise opened #172 "Add Support for Apache Iceberg on Snowflake"
Snowflake added support for [Apache Iceberg](https://www.snowflake.com/blog/iceberg-tables-powering-open-standards-with-snowflake-innovations/).

There seem to be two ways on how this will be implemented:
- external table with table_format specification (similar to #138), this will be an easy fix
- fully supported iceberg tables with full DML support, expected syntax: "create or replace iceberg ta

[2022-10-31 15:10] aPeterHeise commented on #172
Note, the way that #138 is implemented, option 1 via "external tables" should already work.

[code]

[2022-11-17 17:39] dgreen161 opened #174 "Enable an errored creation of external tables to not stop following ones"
### Describe the feature
_A clear and concise description of what you want to happen._

Currently if an external table was unable to be created, it stops the following ones from being created. If there was a way to either handle the error or create them in parallel, this would help alleviate the issue.

### Describe alternatives you've considered
_A clear and concise description of any alternative

[2022-11-25 02:42] jeremyyeo commented on #160
Resolved via #161

[2022-11-25 02:42] #160 closed

[2022-11-29 21:44] prachishah48 opened #175 "Allowing Prefixes in the partitions section"
### Describe the feature
We currently use google cloud storage to store our files which have multiple dates and file names(`gs://myBucket/myTable/dt=YYYY-MM-DD/*.txt`). We would ideally like to partition our files by `_file_name` (ideally the date inside the _file_name). Our GCS is set up so we have  [`dt`](https://cloud.google.com/bigquery/docs/hive-partitioned-queries-gcs#supported_data_layouts)